.signin{
    padding: 50px 0px;
}

.signin .card{
    padding: 40px;
    border-radius: 20px;
}

.signin hr{
    width: 30%;
    margin: 1.5rem auto;
    border: 1px dashed rgba(160, 161, 172, 0.8);
    opacity: 1;
}

.signin .connectwallet_header{
    margin-bottom: 0px;
}

.signin button{
    border: 0px;
}